<%= form_tag('/prohibited_words/create', method: :post) do %>
  <div class="form-group">
    <label>禁止ワード名</label>
    <input name="name" class="form-control">
  </div>
  <%= submit_tag '作成', :class => "btn btn-primary" %>
<% end %>
