<table style="width: 100%; border-collapse: collapse !important;">
  <tbody>
    <tr>
      <td style="padding: 20px; border: 1px solid rgb(14, 88, 151); border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
        <ul>
          <center>
            <font color=#666666 size=4><b>
            </b></font><br><br>
            <table width=650 cellpadding=10>
              <tr><td bgcolor=#FFFFFF>
                  <table width=100% cellspacing=0 border=0 cellpadding=0>
                    <tr>
                      <td bgcolor=#FFCC33 valign=top height=32>
                        <table width=100% cellspacing=0 border=0 cellpadding=0>
                          <tr><td bgcolor=#FFE566 align=center height=30 width=25%>
                              <font color=#000000 size=3><b>
                                  商品詳細
                              </b></font>
                            </td>
                            <td bgcolor=#FFFFFF width=75%></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <font color=#666666 size=3>
                          <%= item['title'] %>
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table cellspacing=15 width=100%>
                          <tr>
                            <td align=left>
                              <ul>
                                <%- item['features'].each do |feature| -%>
                                <li>
                                  <font color=#666666 size=2>
                                    <%= feature -%>
                                  </font>
                                </li>
                                <%- end -%>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td align=left>
                              <ul>
                                <%- item['contents'].each do |content| -%>
                                <li>
                                  <font color=#666666 size=2>
                                    <%= item['content'] %>
                                  </font>
                                </li>
                                <%- end -%>
                              </ul>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table width=100%>
                    <tr><td width=50% valign=top>
                        <table width=100% cellspacing=0 border=0 cellpadding=0>
                          <tr><td bgcolor=#FFCC33 valign=top height=32>
                              <table width=100% cellspacing=0 border=0 cellpadding=0>
                                <tr><td bgcolor=#FFE566 align=center height=30 width=50%>
                                    <font color=#000000 size=3><b>
                                        支払詳細
                                    </b></font>
                                  </td>
                                  <td bgcolor=#FFFFFF width=50%></td>
                                </tr>
                              </table>
                          </td></tr>
                          <tr><td>
                              <table cellspacing=15 width=100%><tr><td align=left>
                                    <font color=#666666 size=2>
                                      通常 <br>
                                      <br>
                                      落札後、簡単取引にて必要情報をご記入ください。<br>
                                      【落札代金】＋【送料】＝【お支払い代金】 <br>
                                      <br>
                                      ※お振込手数料等はご負担下さい。 <br>
                                      <br>
                                      □Yahoo!かんたん決済 銀行振込<br>
                                      <br>
                                      (※代引きには対応してございません。何卒ご了承ください) <br>
                                      八千代銀行<br>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                      迅速かつ快速なお取引を目指す為、 落札後恐れ入りますが、落札者様からフォームへのご登録をお願いしております。 <br>
                                      <br>
                                      ※落札後ヤフーからのメールにURLがありますのでお届け先の記載をお願いします。 <br>
                                      <br>
                                      <br>
                                      入金後迅速に商品を発送いたしますよろしくお願いします。 <br>
                                      <br>
                                      <br>
                                      ※フォームに入力ができない場合は取引連絡に記載をお願いします。 <br>
                                      <br>
                                      ●ご住所 <br>
                                      〒 <br>
                                      ※郵便番号以降のご住所をお忘れなきようお願い致します。 <br>
                                      <br>
                                      ●お名前 <br>
                                      <br>
                                      ●電話番号 <br>
                                      <br>
                                      ●入金予定日 <br>
                                      <br>
                                      ●お支払い方法 
                                    </font>
                              </td></tr></table>
                          </td></tr>
                        </table>
                        
                      </td><td width=50% valign=top>
                        <table width=100% cellspacing=0 border=0 cellpadding=0>
                          <tr><td bgcolor=#FFCC33 valign=top height=32>
                              <table width=100% cellspacing=0 border=0 cellpadding=0>
                                <tr><td bgcolor=#FFE566 align=center height=30 width=50%>
                                    <font color=#000000 size=3><b>
                                        発送詳細
                                    </b></font>
                                  </td>
                                  <td bgcolor=#FFFFFF width=50%></td>
                                </tr>
                              </table>
                          </td></tr>
                          <tr><td>
                              <table cellspacing=15 width=100%><tr><td align=left>
                                    <font color=#666666 size=2>
                                      ★発送料金★ <br>
                                      全国一律　800円（税込）です。<br>
                                      <br>
                                      ★発送方法★ <br>
                                      <br>
                                      ヤマト運輸 <br>
                                      日本郵便<br>
                                      <br>
                                      ※発送方法は選択できません。<br>
                                      <br>
                                      <br>
                                      ※※発送について注意事項※※<br>
                                      ・送料は複数落札の場合も1点ずつ請求させて頂きます。<br>
                                      ・在庫保管先が複数の倉庫なので、同梱は出来ません。 <br>
                                      ・局留め対応は致しておりません <br>
                                      ・在庫状況によりAmazonより発送となりますことを<br>
                                      予めご了承ください。<br>
                                      ※各在庫保管先の箱にて送付する場合がございます。 <br>
                                      <br>
                                      
                                    </font>
                              </td></tr></table>
                          </td></tr>
                        </table>

                  </td></tr></table>
                  <table width=100% cellspacing=0 border=0 cellpadding=0>
                    <tr><td bgcolor=#FFCC33 valign=top height=32>
                        <table width=100% cellspacing=0 border=0 cellpadding=0>
                          <tr><td bgcolor=#FFE566 align=center height=30 width=25%>
                              <font color=#000000 size=3><b>
                                  注意事項
                              </b></font>
                            </td>
                            <td bgcolor=#FFFFFF width=75%></td>
                          </tr>
                        </table>
                    </td></tr>
                    <tr><td>
                        <table cellspacing=15 width=100%><tr><td align=left>
                              <font color=#666666 size=2>
                                落札後3日を過ぎてもご連絡が無い場合はお客様都合でのキャンセル扱いとさせて頂きますのでご了承下さい。 <br>
                                <br>
                                原則として、ご入金は5日以内でお願い致します。 <br>
                                <br>
                                お客様のご都合により遅れる場合は事前にご連絡の方宜しくお願い致します。 <br>
                                <br>
                                悪い評価が多い方はお断りしています。 <br>
                                <br>
                                キャンセル等が多く困ってしまったのでお断りしています。 <br>
                                <br>
                                ご希望の方はキャンセルのないようにお願いします。 <br>
                                <br>
                                ご連絡の取れない方が多くいらっしゃいます。 <br>
                                <br>
                                落札後に落札者様のご都合によるキャンセル希望やご連絡の取れない方が多くいらっしゃいます。私だけでなく他の入札者様にもご迷惑になりますので、キャンセルはご遠慮ください。 入札する際は、よくお考えの上ご入札ください。 <br>
                                <br>
                                基本は入金確認後、即発送を心がけておりますが 人気商品のため在庫が切らす場合がございます。 <br>
                                <br>
                                当店では製品のサポートは行っておりませんので ご了承ください。 <br>
                                <br>
                                本品は輸入品の為、外箱にへこみ・傷等ある場合がございますが商品関しては問題ありません。 <br>
                                本品は写真撮影・動作確認の為、一度開封はしておりますが未使用品の新品になります。 <br>
                                <br>
                                <br>
                                ・お手持ちのパソコン・携帯の画面により商品のお色に若干の差がございます。 <br>
                                <br>
                                ・画像をご参考上ノークレーム <br>
                                <br>
                                ・ノーリターンで宜しくお願い致します。 <br>
                                <br>
                                ・落札後の質問、写真添付などには対応できませんので質問は終了1日前までお願いします。 <br>
                                <br>
                                １．丁寧、迅速に対応いたします。 <br>
                                <br>
                                ２．消費税や、落札手数料は頂いておりません！！ <br>
                                <br>
                                ３．土日祝祭日は質問や落札されてもメールや商品発送等、対応できない日もございます。ご了承下さい。 
                              </font>
                        </td></tr></table>
                    </td></tr>
                  </table>
            </td></tr></table>
            <br>
            <small>ほかにも出品しています。よろしければご覧ください<br></small><a href=http://auctions.yahoo.co.jp/jp/booth/todorokikundayo target=_blank><img src=http://image.auctions.yahoo.co.jp/banner01.gif width=468 height=60 border=0></a><br><br>
            <small>Yahoo!かんたん決済（クレカ・ネットバンク）がご利用いただけます<br></small><a href=http://payment.yahoo.co.jp/ target=_blank><img src=http://i.yimg.jp/images/payment/bnr/bnr_kantan03.gif width=468 height=60 border=0></a><br><br>
            <font color=#999999 size=1>+ + +　この商品説明は</font> <a href=http://www.auclinks.com/ target=_blank><font color=#666666 size=1>オークションプレートメーカー２</font></a> <font color=#999999 size=1>で作成しました 　+ + +</font><font color=#FFFFFF size=1><br>No.204.002.002</font><br>
          </center>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<p>
</p>

