<div class="container">

  <h3>商品一覧（ラベル: <%= @label.name %>）</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>code</th>
        <th>商品名</th>
        <th>プライム指定</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.asin %></td>
        <td><%= item.name %></td>
        <td><% if item.is_prime == 1 %>あり<% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
