<div class="container">
  <form>
    <div class="form-group">
      <label>キーワード</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label>除外ワード</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label>カテゴリ</label>
      <select class="form-control">
        <option>全て</option>
        <option>アパレル</option>
        <option>ベビー＆マタニティ</option>
        <option>コスメ</option>
        <option>本(和書)</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">Amazonプライム指定
      </label>
    </div>
  </form>

  <button type="submit" class="btn btn-primary">商品を検索</button>
  <button type="submit" class="btn btn-primary">検索条件を保存</button>
</div>
